.container{
    margin:0 auto;
    padding:100px;
    * {
        letter-spacing:-0.02rem;
    }
    h1 {
        font-size:1.85rem; font-weight:600;
    }
    P {
        font-size:1.5rem; padding:10px 0;
    }
    ul {
        li {
            font-size:1.25rem; line-height:1.5;
        }
    }
}